.keep-touch-hr{
    width: 20%;
    margin: 10px 0px 20px;
}

.keep-touch-span{
    font-size: 12px;
}

.contact-form-hr{
    width: 20%;
    margin: 10px 20px;
}
.contact-form-submit-button{
    background-color: rgba(232, 99, 154, 1);
    border: 1px solid rgba(232, 99, 154, 1);
    padding: 8px 50px;
    border-radius: 50px;
}