.contact-form-container{
    padding: 10px 100px;
    background-image: linear-gradient(to right, rgba(92, 51, 169, 1), rgba(232, 99, 154, 1));
    .contact-footer-form-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-footer-form{
        width: 50% !important;
    }
    .contact-footer-form.first{
        text-align:left;
        display:flex;
        align-items:center !important;
    }
}
.footer-info{
    padding: 60px 150px 20px;
    background-color: #fff;
}

/*** RESPONSIVE AREA ***/
@media only screen and (min-width:360px) {
    .footer-info{
        padding: 60px 10px 20px;
    }
    .contact-form-container{
        padding: 10px;
        .contact-footer-form{
            width: 100% !important;
            margin: 5px 0;
        }
        .contact-footer-form.first{
            margin-bottom: 12px !important;
        }
    }
}
  
@media only screen and (min-width:980px) {
    .footer-info{
        padding: 60px 150px 20px;
    }
    .contact-form-container{
        padding: 10px 100px;
        .contact-footer-form{
            width: 50% !important;
            margin: 0;
        }
        .contact-footer-form.first{
            margin-bottom: 0px !important;
        }
    }
}